<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
</head>
<body>
<center>
    <div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Регистрация</font></font></a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/l"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ваши права</font></font></a>
    <h1>Вход</h1>
    <form method="post">
        <input type="text" name="1uname" id="1uname" class="form-control" placeholder="Введите Логин"><br>
        <textarea name="1psw" id="1psw" class="form-control" placeholder="Введите пароль"></textarea><br>
        <input type="submit" class="btn btn-success" value="Зайти"><br>
    </form>
</div>
</center>

</body>
</html>